:root {
    --secondary-color: darkblue;
    --border: 1px solid black;
    --primary-color: white;
    --text-align: centre;
    --img-height: auto;
}

main {
    max-width: 840px;

}

main img {
    width: 150px;
    height: var(--img-height);
    border: 1px solid #333;
    padding: 0.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav {
    background-color: var(--secondary-color);
    padding: 10px;
}

nav a {
    color: var(--color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: 150px;
    height: var(--img-height);
    border: var(var(--border));
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 2rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 0;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--img-height);
}

footer {
    margin-top: 3rem;
    border-top: 1px solid #333;
    text-align: var(--text-align);
}