.callout {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(27, 27, 82);
    color: white;
}

.callout img {
    float: right;
    margin: auto;
    padding: 0px;
    border: 2px dotted;
    border-color: rgb(250, 250, 250);
    background-color: 1px rgb(20, 2, 2);
    width: 25%;
    height: 100%;
}

blockquote {
    margin: auto;
}

cite {
    display: block;
    border-top: 1px dotted;
    text-align: right;
}