* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
}

header p {
    font-size: 1.5em;

}

main h1 {
    text-align: center;
    padding: 15px 0;
}

picture img {
    margin: 0 auto;
    border: ;
}

section {
    background-color: #ddd;
    max-width: 60%;
    margin: 30px auto;
    padding: 30px;
}

section h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

section p {
    padding: 15px;
    margin: auto;
}

section ul {
    padding: 15px;
    font-size: 16px;
    margin-top: auto;
}

li {
    padding-bottom: 10px;
}